    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    /* css reset: http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    /*end of css reset*/

    /* GENERAL ELEMENTS  */

    body {
        background-color: #fec6c3;
        font-size: 20px;
        margin-bottom: 5rem;
    }

    .heading {
        font-size: 40px;
        padding: 2rem;
        text-decoration: bold;
        text-align: center;
    }

    /* NAVBAR */
    nav {
        height: 9rem;
        color: white;
        background-color: black;
    }

    .dropdown-container {
        background-color: black;
    }

    .link {
        color: white;
    }

    .link:hover,
    .link:focus {
        color: #fec6c3;
        background-color: black;
    }

    .hamburger {
        padding-top: .4rem;
    }

    .logo {
        font-size: 32px;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    /* TABLES */
    .service-table table {
        border: 2px solid #343a40;
        width: 100%;
        margin: 0 auto;
        /* Centers the table */
        border-collapse: collapse;
    }

    .service-table thead {
        background-color: #343a40;
        color: #fff;
    }

    .service-table th,
    .service-table td {
        padding: 15px;
        text-align: left;
        /* Ensure text is aligned properly */
        border-bottom: 1px solid #ddd;
    }

    .service-table th {
        font-weight: bold;
    }

    .service-table tbody tr:hover {
        background-color: #f1f1f1;
    }


    /* SERVICE PAGES */
    .service-container {
        margin: 4rem;
        padding: 2rem;
        background-color: rgb(248, 249, 250, 0.5);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .service-info {
        text-align: center;
        margin-bottom: 2rem;
    }

    .service-info .heading {
        font-size: 2.5rem;
        color: #343a40;
        margin-bottom: 1rem;
    }

    .service-info .text {
        font-size: 1.2rem;
        color: #6c757d;
    }

    /* HOME PAGE */



    /* CARD */

    .all-cards {
        justify-content: center;
    }

    .button {
        background-color: black;
        border: 3px, solid, gray;
        border-radius: 10%;
        margin-top: 2rem;

    }

    .cards {
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 6px 15px rgba(209, 100, 38, 0.1);
        background-color: #fbe0de;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        transition: transform 0.3s ease;
        margin: 1rem;
        text-align: center;
    }

    /* CONTACT US */


    .map-container iframe {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 2rem 0;
    }

    /* FOOTER STYLES */
    footer {
        background-color: black;
        color: #fff;
        padding: 2rem 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    footer .socials {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    footer .socials li {
        display: inline-block;
    }

    footer .socials a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.3s;
    }
